
/* NAVBAR */
header {
    border: 1px solid lightgreen;

}


nav {
    text-align: center;
}


nav li{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 20px;
}

/* BODY */

 .disabled{
    color: grey;
}

a.disabled {
    color: purple;
}

.active {
    color: yellow;
}

.rad {
    color: red;
}

.rad-sib{
    background-color: red;
}

.blu-sib{
    background-color: blue;
}

.blu {
    color: blue;
}

.grandparent > h4 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.promo {
    color: gold;
    font-weight: bold;
}

input {
    height: 25px;
}